/* Results Section */
/* In TimetableResults.css */
.iframe-container {
  width: 100%;
  height: 80vh; /* 80% of the viewport height, adjust as needed */
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden; /* Ensures the iframe corners are rounded */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.timetable-iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove default iframe border */
}

